SURESH KANNA P
18MIS1067
SWE4012
MACHINE LEARNING
MACHINE LEARNING-6

Import the required packages and the dataset

In [60]:
#import the packages

import pandas as pd
import numpy as np

In [61]:
#Get the dataset
#Tennis Datsets

dataset = pd.read_csv("PlayTennis.csv")

In [62]:
#printing the datasets
dataset

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

Preprocessing the data

In [63]:
#dataset. shape
#the following commands returns the shape- rows and columns of the dataset
dataset.shape

(14, 5)

In [64]:
#extracting the values x and y
x= dataset.iloc[:, [0,1,2,3]].values  
y= dataset.iloc[:, 4].values

In [65]:
#print(x)
x

array([['Sunny', 'Hot', 'High', 'Weak'],
       ['Sunny', 'Hot', 'High', 'Strong'],
       ['Overcast', 'Hot', 'High', 'Weak'],
       ['Rain', 'Mild', 'High', 'Weak'],
       ['Rain', 'Cool', 'Normal', 'Weak'],
       ['Rain', 'Cool', 'Normal', 'Strong'],
       ['Overcast', 'Cool', 'Normal', 'Strong'],
       ['Sunny', 'Mild', 'High', 'Weak'],
       ['Sunny', 'Cool', 'Normal', 'Weak'],
       ['Rain', 'Mild', 'Normal', 'Weak'],
       ['Sunny', 'Mild', 'Normal', 'Strong'],
       ['Overcast', 'Mild', 'High', 'Strong'],
       ['Overcast', 'Hot', 'Normal', 'Weak'],
       ['Rain', 'Mild', 'High', 'Strong']], dtype=object)

In [66]:
#print(y)
y

array(['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'No'], dtype=object)

In [67]:
#labelEncoder

#using lablel enconder to convert string to int

from sklearn import preprocessing 
le = preprocessing.LabelEncoder()

In [68]:
dataset

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [69]:
##using lablel enconder to convert string data to int data
dataset["Outlook"] = le.fit_transform(dataset["Outlook"].astype(str))
dataset["Temperature"] = le.fit_transform(dataset["Temperature"].astype(str))
dataset["Humidity"] = le.fit_transform(dataset["Humidity"].astype(str))
dataset["Wind"] = le.fit_transform(dataset["Wind"].astype(str))
dataset["Play Tennis"] = le.fit_transform(dataset["Play Tennis"].astype(str))

In [70]:
#printing the dataset after processing with the labelencoder
print(dataset)

    Outlook  Temperature  Humidity  Wind  Play Tennis
0         2            1         0     1            0
1         2            1         0     0            0
2         0            1         0     1            1
3         1            2         0     1            1
4         1            0         1     1            1
5         1            0         1     0            0
6         0            0         1     0            1
7         2            2         0     1            0
8         2            0         1     1            1
9         1            2         1     1            1
10        2            2         1     0            1
11        0            2         0     0            1
12        0            1         1     1            1
13        1            2         0     0            0

In [43]:
#Learning phase and testing phase

#step-1- learning phase

In [44]:
#attributes of the datasets

#attributes-Outllok,Temperature, Humiditym, WInd

#condition- Play tennis or not

In [71]:
attributes = ["Outlook", "Temperature", "Humidity", "Wind"]

condition = "Play Tennis"

In [72]:
attributes

['Outlook', 'Temperature', 'Humidity', 'Wind']

In [73]:
condition

'Play Tennis'

In [74]:
print(dataset)

    Outlook  Temperature  Humidity  Wind  Play Tennis
0         2            1         0     1            0
1         2            1         0     0            0
2         0            1         0     1            1
3         1            2         0     1            1
4         1            0         1     1            1
5         1            0         1     0            0
6         0            0         1     0            1
7         2            2         0     1            0
8         2            0         1     1            1
9         1            2         1     1            1
10        2            2         1     0            1
11        0            2         0     0            1
12        0            1         1     1            1
13        1            2         0     0            0

In [75]:
#dataset converted to integers using above notations
dataset = [
           [2,1,0,1,0],
           [2,1,0,0,0],
           [1,2,0,1,1],
           [1,0,1,1,1],
           [1,0,1,0,0],
           [0,0,1,0,0],
           [2,2,0,1,0],
           [2,0,1,1,1],
           [1,2,1,0,1],
           [1,2,1,1,1],
           [2,2,1,0,1],
           [0,2,0,0,1],
           [0,1,1,1,1],
           [1,2,0,0,0]
           ]

Condition--Play tennis or not
Sepearte the data--Play Tennis -Yes or No?

In [77]:
#Now we have to separate the data according to the Play Golf column (which is ‘y’ since this is what we have to predict). 
#For this, we will create a dictionary and append the list into it.

#creating the dictionary
play = dict()
for i in range(len(dataset)):
    row = dataset[i]
    y = row[-1]
    if (y not in play):
        play[y] = list()
    play[y].append(row)
for label in play:
    print(label)
    for row in play[label]:
        print(row)
  #printing the yes or no data

0
[2, 1, 0, 1, 0]
[2, 1, 0, 0, 0]
[1, 0, 1, 0, 0]
[0, 0, 1, 0, 0]
[2, 2, 0, 1, 0]
[1, 2, 0, 0, 0]
1
[1, 2, 0, 1, 1]
[1, 0, 1, 1, 1]
[2, 0, 1, 1, 1]
[1, 2, 1, 0, 1]
[1, 2, 1, 1, 1]
[2, 2, 1, 0, 1]
[0, 2, 0, 0, 1]
[0, 1, 1, 1, 1]

Testing the data

In [78]:
#testing the data
#Outlook  Temperature  Humidity  Wind  Play Tennis
#0         2            1         0     0            0

#when outlook=1, temperature=2, humidity=0, wind=0
test = [1,2,0,0]

Applying the Naive Bayes

In [79]:
#when probaility of playing tennis is equal to yes
probYes = 1

count = 0
total = 0
for row in dataset:
    if(row[-1] == 1):
        count+=1
    total+=1
print("Total yes: "+str(count)+" / "+str(total))
probYes *= count/total
for i in range(len(test)):
    count = 0
    total = 0
    for row in play[1]:
        if(test[i] == row[i]):
            count += 1
        total += 1
    print('For the attribute '+str(i+1))
    print(str(count)+" / "+str(total))
    probYes *= count/total

Total yes: 8 / 14
For the attribute 1
4 / 8
For the attribute 2
5 / 8
For the attribute 3
2 / 8
For the attribute 4
3 / 8

In [81]:
probNo = 1
count = 0
total = 0
for row in dataset:
    if(row[-1] == 0):
        count+=1
    total+=1
probNo *= count/total
print("Total no: "+str(count)+" / "+str(total))
for i in range(len(test)):
    count = 0
    total = 0
    for row in mp[0]:
        if(test[i] == row[i]):
            count += 1
        total += 1
    print('for feature '+str(i+1))
    print(str(count)+" / "+str(total))
    probNo *= count/total

Total no: 6 / 14
for feature 1
2 / 6
for feature 2
2 / 6
for feature 3
4 / 6
for feature 4
4 / 6

In [82]:
print(probYes)
print(probNo)

0.016741071428571425
0.021164021164021163

In [83]:
prob = probYes/(probYes+probNo)
print("Probability of playing Tennis: "+str(prob*100)+"%")

Probability of playing Tennis: 44.165757906215916%