SURESH KANNA P
18MIS1067
SWE4012
ML-LAB-10

Importing the required packages and dataset

In [4]:
#Import required packages
from keras.models import Sequential
from keras.layers import Dense
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('/content/sample_data/kddcup99.csv')

In [7]:
df

        duration protocol_type  ... dst_host_srv_rerror_rate   label
0              0           tcp  ...                      0.0  normal
1              0           tcp  ...                      0.0  normal
2              0           tcp  ...                      0.0  normal
3              0           tcp  ...                      0.0  normal
4              0           tcp  ...                      0.0  normal
...          ...           ...  ...                      ...     ...
494015         0           tcp  ...                      0.0  normal
494016         0           tcp  ...                      0.0  normal
494017         0           tcp  ...                      0.0  normal
494018         0           tcp  ...                      0.0  normal
494019         0           tcp  ...                      0.0  normal

[494020 rows x 42 columns]

Pre-processing the data

In [9]:
#Pre-processing the data 
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(y)
list(le.classes_)
y = le.transform(y)

In [12]:
df['protocol_type'] = le.fit_transform(df['protocol_type'])
df['service'] = le.fit_transform(df['service'])
df['flag'] = le.fit_transform(df['flag'])

In [13]:
df['label']

0         normal
1         normal
2         normal
3         normal
4         normal
           ...
494015    normal
494016    normal
494017    normal
494018    normal
494019    normal
Name: label, Length: 494020, dtype: object

In [14]:
df['label'] = le.fit_transform(df['label'].astype(str))

In [15]:
df['label'] = le.fit_transform(df['label'])

Seperating attributes and labels

In [16]:
#seperating attributes and labels
X = df.loc[:, df.columns != 'label']

In [17]:
y = df.loc[:,df.columns == 'label']

In [30]:
X

        duration  protocol_type  ...  dst_host_rerror_rate  dst_host_srv_rerror_rate
0              0              1  ...                   0.0                       0.0
1              0              1  ...                   0.0                       0.0
2              0              1  ...                   0.0                       0.0
3              0              1  ...                   0.0                       0.0
4              0              1  ...                   0.0                       0.0
...          ...            ...  ...                   ...                       ...
494015         0              1  ...                   0.0                       0.0
494016         0              1  ...                   0.0                       0.0
494017         0              1  ...                   0.0                       0.0
494018         0              1  ...                   0.0                       0.0
494019         0              1  ...                   0.0                       0.0

[494020 rows x 41 columns]

In [31]:
y

        label
0          11
1          11
2          11
3          11
4          11
...       ...
494015     11
494016     11
494017     11
494018     11
494019     11

[494020 rows x 1 columns]

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=0)

Normalize the data

In [19]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)
sc.fit(y_train)
y_train_std = sc.transform(y_train)
y_test_std = sc.transform(y_test)

#Normalize the data
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()
X_train_nor = min_max_scaler.fit_transform(X_train)
X_test_nor = min_max_scaler.fit_transform(X_test)
y_train_nor = min_max_scaler.fit_transform(y_train)
y_test_nor = min_max_scaler.fit_transform(y_test)

Using the Sequential Model

In [20]:
#Defining the model structure with the required layers, # of neurons, activation function and optimizers
model = Sequential()
model.add(Dense(5, input_dim=41, activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 210

 dense_1 (Dense)             (None, 4)                 24

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 239
Trainable params: 239
Non-trainable params: 0
_________________________________________________________________

In [22]:
#Train the model and make predictions
model.fit(X_train_nor, y_train_nor, epochs=10, batch_size=32)

Epoch 1/10
10807/10807 [==============================] - 13s 1ms/step - loss: 0.5710 - accuracy: 0.0040
Epoch 2/10
10807/10807 [==============================] - 12s 1ms/step - loss: 0.5620 - accuracy: 0.0045
Epoch 3/10
10807/10807 [==============================] - 12s 1ms/step - loss: 0.5607 - accuracy: 0.0046
Epoch 4/10
10807/10807 [==============================] - 12s 1ms/step - loss: 0.5601 - accuracy: 0.0046
Epoch 5/10
10807/10807 [==============================] - 12s 1ms/step - loss: 0.5599 - accuracy: 0.0046
Epoch 6/10
10807/10807 [==============================] - 12s 1ms/step - loss: 0.5598 - accuracy: 0.0046
Epoch 7/10
10807/10807 [==============================] - 12s 1ms/step - loss: 0.5598 - accuracy: 0.0046
Epoch 8/10
10807/10807 [==============================] - 12s 1ms/step - loss: 0.5598 - accuracy: 0.0046
Epoch 9/10
10807/10807 [==============================] - 12s 1ms/step - loss: 0.5597 - accuracy: 0.0046
Epoch 10/10
10807/10807 [==============================] - 12s 1ms/step - loss: 0.5597 - accuracy: 0.0046

In [23]:
#Make predictions from the trained model
predictions = model.predict(X_test_nor)

In [24]:
predictions

array([[0.4950263],
       [0.507544 ],
       [0.8180394],
       ...,
       [0.8180394],
       [0.8180394],
       [0.8180394]], dtype=float32)

In [25]:
y_test_nor

array([[0.5       ],
       [0.5       ],
       [0.81818182],
       ...,
       [0.81818182],
       [0.81818182],
       [0.81818182]])

Define the Sequential model again

In [26]:

from sklearn.model_selection import train_test_split

X_train, X_inter, y_train, y_inter = train_test_split(
    X, y, test_size=0.3, random_state=0)

test_size = 0.5
X_valid, X_test, y_valid, y_test = train_test_split(X_inter,y_inter, test_size=0.5)

#Normalize the data
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()
X_train_nor = min_max_scaler.fit_transform(X_train)
X_test_nor = min_max_scaler.fit_transform(X_test)
y_valid_nor = min_max_scaler.fit_transform(y_valid)
X_valid_nor = min_max_scaler.fit_transform(X_valid)
y_train_nor = min_max_scaler.fit_transform(y_train)
y_test_nor = min_max_scaler.fit_transform(y_test)

#Define the model architecture (next one)
model = Sequential()
model.add(Dense(64, input_dim=41,activation = "relu")) #Layer 1
model.add(Dense(32,activation = "relu"))               #Layer 2
model.add(Dense(16,activation = "relu"))               #Layer 3
model.add(Dense(8,activation = "relu"))                #Layer 4
model.add(Dense(4,activation = "relu"))                #Layer 5
model.add(Dense(1,activation = "sigmoid"))             #Output Layer

#Configure the model
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

#Train the model
model.fit(X_train_nor, y_train_nor, epochs=10, batch_size=32, validation_data=(X_valid_nor,y_valid_nor))

Epoch 1/10
10807/10807 [==============================] - 21s 2ms/step - loss: 0.5675 - accuracy: 0.0045 - val_loss: 0.5600 - val_accuracy: 0.0044
Epoch 2/10
10807/10807 [==============================] - 19s 2ms/step - loss: 0.5595 - accuracy: 0.0046 - val_loss: 0.5603 - val_accuracy: 0.0044
Epoch 3/10
10807/10807 [==============================] - 18s 2ms/step - loss: 0.5594 - accuracy: 0.0046 - val_loss: 0.5599 - val_accuracy: 0.0045
Epoch 4/10
10807/10807 [==============================] - 18s 2ms/step - loss: 0.5594 - accuracy: 0.0046 - val_loss: 0.5601 - val_accuracy: 0.0045
Epoch 5/10
10807/10807 [==============================] - 19s 2ms/step - loss: 0.5594 - accuracy: 0.0046 - val_loss: 0.5604 - val_accuracy: 0.0045
Epoch 6/10
10807/10807 [==============================] - 18s 2ms/step - loss: 0.5593 - accuracy: 0.0046 - val_loss: 0.5601 - val_accuracy: 0.0045
Epoch 7/10
10807/10807 [==============================] - 19s 2ms/step - loss: 0.5593 - accuracy: 0.0046 - val_loss: 0.5602 - val_accuracy: 0.0045
Epoch 8/10
10807/10807 [==============================] - 19s 2ms/step - loss: 0.5592 - accuracy: 0.0046 - val_loss: 0.5605 - val_accuracy: 0.0044
Epoch 9/10
10807/10807 [==============================] - 18s 2ms/step - loss: 0.5592 - accuracy: 0.0046 - val_loss: 0.5603 - val_accuracy: 0.0045
Epoch 10/10
10807/10807 [==============================] - 19s 2ms/step - loss: 0.5593 - accuracy: 0.0046 - val_loss: 0.5607 - val_accuracy: 0.0045

In [29]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                2688

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 16)                528

 dense_6 (Dense)             (None, 8)                 136

 dense_7 (Dense)             (None, 4)                 36

 dense_8 (Dense)             (None, 1)                 5

=================================================================
Total params: 5,473
Trainable params: 5,473
Non-trainable params: 0
_________________________________________________________________